COPILOT_GITHUB_TOKEN=   # To generate a token, look here: https://docs.github.com/en/copilot/how-tos/copilot-cli/set-up-copilot-cli/authenticate-copilot-cli#authenticating-with-environment-variables
GIT_USER_NAME=
GIT_EMAIL=
